<?xml version="1.0" encoding="UTF-8" ?>

<configuration>
	<appSettings>
		<add key="PostgreSQL" value="192.168.1.24" />
		<add key="PostgreSQLUser" value="postgres" />
		<add key="PostgreSQLPass" value="password" />
		<add key="nvdExportDir" value="/home/bperry/tmp/nvd/" />
	</appSettings>	
</configuration>