<?xml version="1.0"?>
<!--
Web.config file for AutoAssess.Web.API.

The settings that can be used in this file are documented at 
http://www.mono-project.com/Config_system.web and 
http://msdn2.microsoft.com/en-us/library/b5ysx397.aspx
-->
<configuration>
  <appSettings>
    <add key="PostgreSQL" value="192.168.1.5" />
    <add key="PostgreSQLPort" value="5433" />
    <add key="PostgreSQLUser" value="postgres" />
    <add key="PostgreSQLPass" value="password" />
    <add key="nessusHost" value="192.168.1.5" />
    <add key="nessusUser" value="nessus" />
    <add key="nessusPass" value="nessus" />
    <add key="openvasHost" value="192.168.1.5" />
    <add key="openvasUser" value="admin" />
    <add key="openvasPass" value="admin" />
    <add key="whoisPath" value="whois" />
  </appSettings>
  <system.web>
    <compilation defaultLanguage="C#" debug="true">
      <assemblies>
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <customErrors mode="RemoteOnly">
    </customErrors>
    <authentication mode="None">
    </authentication>
    <authorization>
      <allow users="*" />
    </authorization>
    <httpHandlers>
    </httpHandlers>
    <trace enabled="false" localOnly="true" pageOutput="false" requestLimit="10" traceMode="SortByTime" />
    <sessionState mode="InProc" cookieless="false" timeout="20" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
    <pages>
    </pages>
  </system.web>
</configuration>