<?xml version="1.0"?>
<!--
Web.config file for AutoAssess.Web.

The settings that can be used in this file are documented at 
http://www.mono-project.com/Config_system.web and 
http://msdn2.microsoft.com/en-us/library/b5ysx397.aspx
-->
<configuration>
  <appSettings>
    <add key="ClientID" value="3bd41e4c-fbc5-4d7d-99d3-3507f8f68d34" />
    <add key="UserID" value="5ba0ae0e-e446-41e6-8ce5-4f79d920c0a3" />
    <add key="API" value="http://127.0.0.1:8084" />
    <add key="PostgreSQL" value="192.168.1.5" />
    <add key="PostgreSQLPort" value="5433" />
    <add key="PostgreSQLUser" value="postgres" />
    <add key="PostgreSQLPass" value="password" />
    <add key="nexposeHost" value="192.168.1.19" />
    <add key="mailUser" value="user@example.com" />
    <add key="mailPassword" value="password" />
  </appSettings>
  <system.web>
    <compilation defaultLanguage="C#" debug="true">
      <assemblies>
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Drawing.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </assemblies>
    </compilation>
    <customErrors mode="RemoteOnly">
    </customErrors>
    <authorization>
      <allow users="*" />
    </authorization>
    <httpHandlers>
    </httpHandlers>
    <trace enabled="false" localOnly="true" pageOutput="false" requestLimit="10" traceMode="SortByTime" />
    <sessionState mode="StateServer" stateConnectionString="tcpip=localhost:9999" stateNetworkTimeout="100" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
    <pages>
    </pages>
  </system.web>
</configuration>