<?xml version="1.0"?>
<!--
Web.config file for AutoAssess.Web.Admin.Admin.

The settings that can be used in this file are documented at 
http://www.mono-project.com/Config_system.web and 
http://msdn2.microsoft.com/en-us/library/b5ysx397.aspx
-->
<configuration>
  <appSettings>
    <add key="PostgreSQL" value="192.168.1.5" />
    <add key="ClientID" value="acacd014-bd7d-46fe-b1df-af808356aa96" />
    <add key="UserID" value="5b26bad2-413e-4c86-9024-0267b3e2ccb8" />
    <add key="PostgreSQLPort" value="5433" />
    <add key="PostgreSQLUser" value="postgres" />
    <add key="PostgreSQLPass" value="password" />
    <add key="API" value="http://127.0.0.1:8084" />
  </appSettings>
  <system.web>
    <compilation defaultLanguage="C#" debug="true">
      <assemblies>
      </assemblies>
    </compilation>
    <customErrors mode="RemoteOnly">
    </customErrors>
    <authentication mode="None">
    </authentication>
    <authorization>
      <allow users="*" />
    </authorization>
    <httpHandlers>
    </httpHandlers>
    <trace enabled="false" localOnly="true" pageOutput="false" requestLimit="10" traceMode="SortByTime" />
    <sessionState mode="InProc" cookieless="false" timeout="20" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
    <pages>
    </pages>
  </system.web>
</configuration>